<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>@ViewBag.Title - Admin</title>
    @Styles.Render("~/Content/css")
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    @*<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">*@
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/vue")
    @*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@
    @*<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
